//
// Header
// --------------------------------------------------


// Base styles
// -------------------------

header {
  transform: translate3d(0, 0, 0);

  #logo-container {
    margin-bottom: 36px;
  }

  a {
    color: rgba($white, .42);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      color: rgba($white, .42);
    }
  }

  @keyframes expand {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }

  hr {
    height: 0;
    margin-bottom: 0;

    &.expand {
      animation-duration: 600ms;
      animation-fill-mode: forwards;
      animation-name: expand;
      animation-timing-function: cubic-bezier(.23, 1, .32, 1);
      margin: 0;
      transform-origin: left center;
    }
  }

  nav {
    font-size: 0;
    margin-top: -1px;

    ol {
      line-height: normal;
      margin-bottom: 0;
      margin-left: 0 !important;
    }
  }

  li {
    border-top: 1px solid rgba(0, 0, 0, 0);
    margin-right: $line-height-computed;
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: $line-height-computed;
    transform: translate3d(0, 0, 0);
    transition: all 600ms cubic-bezier(.23, 1, .32, 1);

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: inline-block;
      font-size: $font-size-base;
      transform: translateY(calc(-17px + -18px));
      transition-property: color;
    }

    a:active {
      color: $gold;
    }

    &.active a {
      color: $gold;
    }

    &.nav-link.active {
      border-top: 1px solid $gold;
    }
  }

  h2 {
    font-size: $font-size-large;
    margin-bottom: 0;
    transform: rotateX(90deg);

    &:empty {
      margin: 0;
    }
  }
}
