$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import 'public';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

#loading-bar .bar {
  background: $gold;
}

/* Fancy blur effect */
#loading-bar .peg {
  box-shadow: $gold 1px 0 6px 1px;
}

#loading-bar-spinner {
  display: none;
}
