<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACPM</title>
    <base href="/">
    <meta name="description" content="Developer, Designer">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/odometer/themes/odometer-theme-minimal.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/wiwo.css">
    <link rel="stylesheet" href="styles/portfolio.css">
    <link rel="stylesheet" href="styles/awwwards.css">
    <!-- endbuild -->
  </head>
  <body data-ng-app="publicApp" data-ng-controller="RootCtrl">
    <div class="fade background">
    </div>
    <div class="grid-flicker background">
    </div>
    <header data-ng-include="'views/partials/header.html'"
            role="navigation"
            class="fade header">
    </header>
    <!--<div id="awwwards" class="honorable black right">-->
    <!--  <a href="http://www.awwwards.com/best-websites/andrew-mcwatters/" target="_blank">Awwwards</a>-->
    <!--</div>-->
    <main id="{{routeName}}">
      <div class="main container" data-ui-view="">
      </div>
    </main>
    <footer data-ng-include="'views/partials/footer.html'"
            class="fade footer">
    </footer>
    <script>
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3085795-5');
      ga('send', 'pageview');
    </script>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/async/lib/async.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="bower_components/lazy.js/lazy.js"></script>
    <script src="bower_components/odometer/odometer.js"></script>
    <script src="bower_components/angular-odometer-js/dist/angular-odometer.js"></script>
    <script src="bower_components/angular-scrollto/angular-scrollto.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/root.js"></script>
    <script src="scripts/directives/header.js"></script>
    <script src="scripts/directives/navlink.js"></script>
    <script src="scripts/controllers/wiwo.js"></script>
    <script src="scripts/controllers/portfolio.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/directives/main.js"></script>
    <script src="scripts/directives/about.js"></script>
    <script src="scripts/directives/background.js"></script>
    <script src="scripts/directives/gridflicker.js"></script>
    <script src="scripts/directives/wiwo.js"></script>
    <script src="scripts/directives/spy.js"></script>
    <script src="scripts/directives/toggle.js"></script>
    <script src="scripts/controllers/status.js"></script>
    <script src="scripts/services/statusSocket.js"></script>
    <!-- endbuild -->
</body>
</html>
