<section class="about fade">
  <h1>
    <span class="eyebrow">Hello, world.</span>
    <span class="large-block">I’m a developer &amp;
    designer<br>in Mesa.</span>
  </h1>
  <p class="lead">
    <a class="btn btn-lg btn-primary"
       href="https://github.com/andrewmcwatters">Follow me on GitHub</a>
  </p>
</section>
